<h1>Articles</h1>

<ul>
    <!-- Start a loop over each article in the `@articles` array. Note the lack of `=` after the `%` because we don't want it to display the return value of `@articles.each` -->
    <% @articles.each do |article| %>
        <li>
            <!-- For each article, create a link with the text being the article's title and the URL being the path to the article's show page -->
            <!-- link_to is a helper method that generates an HTML link. -->
            <!-- The first argument is the text that will be displayed in the link, and the second argument is the URL that the link will go to. -->
            <%= link_to article.title, article %>
        </li>
    <% end %>
</ul>

<%= link_to 'New Article', new_article_path %>
